workflow.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  c.table_schema,\n  c.table_name,\n  json_agg(\n    json_build_object(\n      'column_name',                 c.column_name,\n      'data_type',                   c.data_type,\n      'character_maximum_length',    c.character_maximum_length,\n      'numeric_precision',           c.numeric_precision,\n      'is_nullable',                 c.is_nullable\n    ) ORDER BY c.ordinal_position\n  ) AS columns\nFROM information_schema.columns c\nJOIN pg_catalog.pg_tables t\n  ON t.schemaname = c.table_schema\n AND t.tablename  = c.table_name\nWHERE c.table_schema = 'public'\n  AND t.tableowner = current_user\nGROUP BY c.table_schema, c.table_name\nORDER BY c.table_schema, c.table_name;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -6672,
        -896
      ],
      "id": "ed67b1c2-5d39-4c51-b34d-01dbd3ff6547",
      "name": "PG Schema Loader",
      "credentials": {
        "postgres": {
          "id": "We92wHuV6HBo24o9",
          "name": "Data"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst md = items.map(i => \n  `### ${i.json.table_schema}.${i.json.table_name}\\n` +\n  i.json.columns.map(c => \n    `- **${c.column_name}**: ${c.data_type}${c.character_maximum_length?`(${c.character_maximum_length})`:''}${c.numeric_precision?` precision ${c.numeric_precision}`:''} (${c.is_nullable==='YES'?'nullable':'not nullable'})`\n  ).join('\\n')\n).join('\\n\\n') + '\\n';\n\nreturn [{ json: { schemaMarkdown: md } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -6416,
        -896
      ],
      "id": "03a81859-cd7c-40c4-a055-7666d726eaf5",
      "name": "JS Schema Markdown"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "70ecee2a-c278-461f-a898-52ff907b4fb2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6976,
        -896
      ],
      "id": "2b1b0234-8511-484e-9ffc-f4a675c2bcd8",
      "name": "Webhook Intake",
      "webhookId": "ce34c55f-52b3-4b30-9a66-626adc713ff3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User: {{ $('Webhook Intake').first().json.body.text }}\nSchema: {{ $json.schemaMarkdown }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Bạn là Output Classifier. Nhiệm vụ: Phân loại yêu cầu thành {\"type_message\": [\"text\", ...]}.\n\nQUY TẮC:\n- type_message LUÔN chứa \"text\"\n- Thêm \"table\" nếu yêu cầu: bảng, danh sách, xếp hạng, top N, who/what\n- Thêm \"chart\" nếu yêu cầu: biểu đồ, vẽ, visualize, xu hướng, phân bố, tỷ trọng, so sánh thời gian\n- Filter (quý 4, team Sales) KHÔNG tự động thêm \"chart\" trừ khi có yêu cầu trực quan hóa\n\nVÍ DỤ JSON:\n{\"type_message\": [\"text\"]}  // Số đơn giản, chào hỏi\n{\"type_message\": [\"text\",\"table\"]}  // Top nhân viên\n{\"type_message\": [\"text\",\"chart\",\"table\"]}  // Vẽ biểu đồ xu hướng\n\nCHỈ TRẢ VỀ JSON, KHÔNG GIẢI THÍCH."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -6128,
        -896
      ],
      "id": "72106925-fb5c-4aa4-a3ca-fb7f03ceeba5",
      "name": "Agent Output Classifier"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"type_message\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\",\n        \"enum\": [\n          \"text\",\n          \"table\",\n          \"chart\"\n        ]\n      },\n      \"uniqueItems\": true,\n      \"minItems\": 1,\n      \"maxItems\": 3\n\n    }\n  },\n\n  \"required\": [\n    \"type_message\"\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -6128,
        -336
      ],
      "id": "854e8c88-8227-45a3-8d35-43b58238c2aa",
      "name": "Parser Type Array"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        -5376,
        -688
      ],
      "id": "b5a2c26d-9207-466f-98f6-fed110e32989",
      "name": "Planner Scratchpad"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"text_plan\": {\"type\": \"string\"},\n    \"chart_plan\": {\"type\": \"string\"},\n    \"table_plan\": {\"type\": \"string\"}\n  },\n  \"required\": [\"text_plan\",\"chart_plan\",\"table_plan\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -5616,
        -336
      ],
      "id": "400e8596-5ed2-4f09-8e04-1ca4c1d5da17",
      "name": "Parser Plan JSON"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User: {{ $('Webhook Intake').first().json.body.text }}\nSchema: {{ $('JS Schema Markdown').item.json.schemaMarkdown }}\nTypes: {{ $json.output.type_message }}\nDate: {{ $now.toISODate() }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=BẠN LÀ Data Planner. Tạo 3 plan đồng bộ (text,table,chart) theo format JSON.\n\nNGUYÊN TẮC:\n1. RAG CHỈ KHI metrics mơ hồ: [hiệu quả,khen thưởng,chăm chỉ,performance,tồn đọng]\n2. SQL ĐỒNG BỘ: Nếu có cả table+chart → dùng 1 SQL core\n   - table: SQL + LIMIT 10-15\n   - chart: SQL (không LIMIT)\n3. FORMAT RÕ RÀNG:\n   - text_plan: \"Tóm tắt [yêu cầu] | Highlight: [điểm chính]\"\n   - table_plan: \"SQL: [câu SQL] | Limit: N\"\n   - chart_plan: \"SQL: [câu SQL] | Type: [bar/line/pie] | X: [col] | Y: [col] | Option: [highlight max]\"\n4. SQL CHUẨN: Alias bắt buộc, chỉ SELECT, WHERE date >= $now - 3m nếu không chỉ định\n5. NẾU SQL FAIL: Sửa lại và thử lại\n6. KHÔNG GIẢI THÍCH, chỉ output JSON\n\nVÍ DỤ:\nUser: \"Top 5 nhân viên Q4\"\n→ {\"text_plan\":\"Tóm tắt Top 5 NV Q4 | Highlight: Người dẫn đầu\",\"table_plan\":\"SQL: SELECT name,SUM(bonus) AS total FROM rewards WHERE quarter=4 GROUP BY name ORDER BY total DESC | Limit: 5\",\"chart_plan\":\"SQL: SELECT name,SUM(bonus) AS total FROM rewards WHERE quarter=4 GROUP BY name ORDER BY total DESC | Type: barh | X: name | Y: total | Option: highlight max\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -5616,
        -896
      ],
      "id": "38034827-0a95-4863-838a-aab4abb78ffd",
      "name": "Agent Output Planner"
    },
    {
      "parameters": {
        "modelName": "mixedbread-ai/mxbai-embed-large-v1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsHuggingFaceInference",
      "typeVersion": 1,
      "position": [
        -5376,
        -192
      ],
      "id": "571ac384-14cf-4414-bacb-aa6201f74cdb",
      "name": "Embeddings Mixedbread",
      "credentials": {
        "huggingFaceApi": {
          "id": "9RUBYkKONoLSSOs5",
          "name": "HuggingFaceApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Tool Metric Lookup: Dịch thuật ngữ nghiệp vụ mơ hồ thành SQL logic.\n\nInput: query (string) - Ví dụ: \"định nghĩa khen thưởng nhân viên\"\nOutput: Đoạn văn với metric, logic, filter từ RAG.\n\nBẮT BUỘC: Chỉ gọi khi cần làm rõ yêu cầu nghiệp vụ.",
        "tableName": {
          "__rl": true,
          "mode": "id",
          "value": "business_metrics"
        },
        "options": {
          "queryName": "match_business_metrics"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -5376,
        -496
      ],
      "id": "3839f231-18cc-4acc-bc03-bbf17155787c",
      "name": "Tool Metric Lookup",
      "credentials": {
        "supabaseApi": {
          "id": "YbnwLCxRGl6PxEY9",
          "name": "RAG_METRIC"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nlet allowedTypes = [];\ntry {\n  allowedTypes = $('Agent Output Classifier').first().json.output.type_message;\n  // Đảm bảo đây là một mảng\n  if (!Array.isArray(allowedTypes)) {\n    allowedTypes = [];\n  }\n} catch (e) {\n  console.log(\"Không tìm thấy dữ liệu 'type_message' từ Agent Output Classifier.\");\n  // Nếu lỗi, trả về cấu trúc rỗng\n  return { json: { type_message: [], plan: {} } };\n}\n\nlet allPlans = {};\ntry {\n  allPlans = $input.first().json.output;\n  if (typeof allPlans !== 'object' || allPlans === null) {\n    allPlans = {};\n  }\n} catch (e) {\n  console.log(\"Không tìm thấy dữ liệu 'output' (kế hoạch) từ $input.\");\n  return { json: { type_message: [], plan: {} } };\n}\n\nconst filteredPlanObject = {}; \n\nfor (const type of allowedTypes) {\n  const planKey = `${type}_plan`;\n\n  // Lấy kế hoạch tương ứng từ đối tượng 'allPlans'\n  const planString = allPlans[planKey];\n\n  if (typeof planString === 'string' && planString.trim() !== \"\") {\n    filteredPlanObject[planKey] = planString;\n  }\n}\n\nconst newOutput = {\n  type_message: allowedTypes,\n  plan: filteredPlanObject ,\n  schema: $('JS Schema Markdown').first().json.schemaMarkdown,\n  user_input: $('Webhook Intake').first().json.body.text\n};\n\nreturn { json: newOutput };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5168,
        -896
      ],
      "id": "691af1ee-d799-4644-ac84-a7b47d6dd8bf",
      "name": "JS Plan Filter"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_statement') }}",
        "options": {}
      },
      "id": "101f6dd0-1504-494f-8dc1-289e8b24bd76",
      "name": "Tool SQL Text",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        -3920,
        -1056
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "We92wHuV6HBo24o9",
          "name": "Data"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Request: {{ $json.user_input }}\nSchema: {{ $('JS Text Context').item.json.schema }}\nPlan: {{ $('JS Text Context').item.json.plan.text_plan }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Bạn là Text Analyst. Nhiệm vụ: Tóm tắt kết quả SQL thành markdown.\n\nTOOLS:\n- [Tool SQL Text]: Thực thi SQL để lấy data\n- [Tool Tavily]: Search trên mạng những thông tin cần thiết đến phân tích.\n\nQUY TRÌNH:\n1. Đọc Plan (cần tóm tắt gì?)\n2. Viết SQL ngắn gọn (aggregate hoặc LIMIT 1)\n3. Gọi tool [Tool SQL Text]\n4. Nếu lỗi → Sửa SQL, gọi lại\n5. Kết quả thành công → Viết markdown giải thích ngắn gọn, trực tiếp trả lời Request\n\nOUTPUT: JSON {\"text\":\"markdown string\"}\n\nQUY TẮC:\n- SQL phải aggregate (COUNT/SUM/AVG) hoặc LIMIT 5\n- Không trả toàn bộ bảng\n- Không dùng INSERT/UPDATE/DELETE"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -4272,
        -1488
      ],
      "id": "a99a7b8b-c56b-4f39-a15d-9f47277e9e8f",
      "name": "Agent Text Response"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -4416,
        -1200
      ],
      "id": "44d65a92-213a-425b-91e2-50f959489ec6",
      "name": "LLM Text Analyst",
      "credentials": {
        "deepSeekApi": {
          "id": "ZMFdLOEKgqZNPOq6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_statement') }}",
        "options": {}
      },
      "id": "5dab1b42-e0d9-4eaf-9310-0476cd2ea692",
      "name": "Tool SQL Table",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        -3968,
        112
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "We92wHuV6HBo24o9",
          "name": "Data"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Tool Test SQL Table: Kiểm thử logic SQL và xem preview (LIMIT 5).\n\nInput: test_description (string), schema (string)\nOutput: Bảng JSON với max 5 rows để xác nhận logic.\n\nLUÔN thêm LIMIT 5 hoặc dùng aggregate. Chỉ SELECT, không MODIFY data.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "=Bạn là Safe SQL Test Agent. Nhiệm vụ: Viết và chạy SQL test.\n\nQUY TẮC:\n1. Đọc test_description và schema\n2. Viết SQL AN TOÀN:\n   - Luôn LIMIT 5 nếu không aggregate\n   - Chỉ SELECT, không INSERT/UPDATE/DELETE\n3. Gọi tool [Tool SQL Text]\n4. Nếu lỗi → Đọc lỗi, sửa SQL, gọi lại\n5. Kết quả thành công → Trả về DATA, không giải thích\n\nCode phải có LIMIT 5 hoặc aggregate (COUNT, SUM...)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -4624,
        -16
      ],
      "id": "464cde42-cc26-4aa6-b34e-2b41b29b86d7",
      "name": "Tool Test SQL Table"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sql\": {\"type\": \"string\"}\n  },\n  \"required\": [\"sql\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3776,
        -96
      ],
      "id": "e543e172-6ca0-4c3e-9ad8-603028c06e1f",
      "name": "Parser Final SQL"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -3120,
        -688
      ],
      "id": "2da353c4-53cb-40e8-889e-c1c07b89a6f1",
      "name": "Merge Outputs"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -2816,
        -688
      ],
      "id": "7328d34f-3f16-4aa7-8439-7f9aadd620cf",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ce2d438f-309f-4b25-ac7e-4c5afb1b8f55",
                    "leftValue": "={{ $json.type_message }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a19516e6-e3aa-4ddd-a96f-52ed0fb6d685",
                    "leftValue": "={{ $json.type_message }}",
                    "rightValue": "chart",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b60f1d91-1235-49bc-990c-a2b70505faa2",
                    "leftValue": "={{ $json.type_message }}",
                    "rightValue": "table",
                    "operator": {
                      "type": "array",
                      "operation": "contains",
                      "rightType": "any"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -4880,
        -896
      ],
      "id": "dd0ce1fa-5d47-4f5e-9e9b-c3ad891c78e8",
      "name": "Switch Output Types"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4576,
        -1488
      ],
      "id": "b0cd5e11-a627-4b9d-a3b9-db2da0d4624a",
      "name": "JS Text Context"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4576,
        -288
      ],
      "id": "aa44e48c-3dc8-4178-a8d9-976062d0ab8f",
      "name": "JS Table Context"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3680,
        -192
      ],
      "id": "3585b44a-2170-44b8-8e03-b62c17ae597b",
      "name": "PG Execute Table SQL",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "We92wHuV6HBo24o9",
          "name": "Data"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst columns = Object.keys(items[0].json);\nconst rows = items.map(item => columns.map(col => item.json[col] ?? null));\nreturn [{\n  json: {\n  \n    table: {\n      columns,\n      rows\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3424,
        -192
      ],
      "id": "b6617a0d-3b5b-4f6a-a15b-bda512227698",
      "name": "JS Table Formatter"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4576,
        -896
      ],
      "id": "2dfa4589-5bfb-4b8f-93f6-c29ab078b949",
      "name": "JS Chart Context"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"sql\": {\"type\": \"string\"},\n    \"code\": {\"type\": \"string\"}\n  },\n  \"required\": [\"sql\", \"code\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -3776,
        -688
      ],
      "id": "0f79a726-14f8-4725-b3d2-f453ad985008",
      "name": "Parser Chart Output"
    },
    {
      "parameters": {
        "toolDescription": "Executes SQL query on PostgreSQL. Input: sql_statement (string). Output: JSON result or error.\nSUPPORTS ONLY SELECT. FORBIDS INSERT/UPDATE/DELETE/DROP.",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prompt__User_Message_', ``, 'string') }}",
        "options": {
          "systemMessage": "==BẠN LÀ AGENT KIỂM THỬ SQL AN TOÀN (SAFE SQL TEST AGENT).\n\n## Schema (Lược đồ DB)\n{{ $('JS Chart Context').item.json.schema }}\n\nNhiệm vụ của bạn là nhận một **mô tả yêu cầu (description)**, viết và thực thi một truy vấn SQL DUY NHẤT bằng tool `[Tool SQL Text]` để kiểm tra logic.\n\n**QUY TẮC BẮT BUỘC TUYỆT ĐỐI:**\n\n1.  **CHỈ `SELECT`:** Cấm tuyệt đối `INSERT`, `UPDATE`, `DELETE`, `DROP`.\n2.  **QUY TẮC VÀNG: AN TOÀN KẾT QUẢ:**\n    Bạn KHÔNG BAO GIỜ được trả về dữ liệu thô. Truy vấn của bạn PHẢI:\n    a) Ưu tiên các hàm tổng hợp (`COUNT`, `SUM`, `AVG`) nếu mô tả yêu cầu.\n    b) Nếu mô tả yêu cầu xem \"danh sách\" hoặc \"preview\", bạn BẮT BUỘC phải dùng `LIMIT 5`.\n    c) Nếu mô tả không rõ, MẶC ĐỊNH LÀ `LIMIT 5`.\n3.  **TỰ ĐỘNG SỬA LỖI (Self-Correction):**\n    * Bạn PHẢI gọi tool `[Tool SQL Text]`.\n    * Nếu `[Tool SQL Text]` trả về **LỖI (Error)**:\n        * Đọc kỹ lỗi, **sửa lại câu SQL** của mình.\n        * **Gọi lại tool `[Tool SQL Text]`** với truy vấn đã sửa.\n        * Lặp lại cho đến khi thành công.\n4.  **ĐẦU RA CUỐI CÙNG:**\n    * Sau khi `[Tool SQL Text]` chạy thành công, hãy trả về **dữ liệu kết quả (data result)** từ tool đó.\n    * KHÔNG GIẢI THÍCH, chỉ trả về dữ liệu (ví dụ: một JSON hoặc một con số)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -4112,
        -656
      ],
      "id": "ca77f350-12b2-4243-87b9-2cf4d59f3e0d",
      "name": "Tool Test SQL Chart"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $fromAI('sql_statement') }}",
        "options": {}
      },
      "id": "319d0a6d-2be1-4de0-8ef5-0b354893e786",
      "name": "Tool SQL Chart",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        -3968,
        -496
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "We92wHuV6HBo24o9",
          "name": "Data"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -6128,
        -592
      ],
      "id": "5ae6fe91-d49c-4a30-82a2-d9f75839518e",
      "name": "LLM Output Classifier",
      "credentials": {
        "deepSeekApi": {
          "id": "ZMFdLOEKgqZNPOq6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output.sql }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3680,
        -896
      ],
      "id": "10e95d62-9623-4cea-a43a-abc006dcdb3b",
      "name": "PG Execute Chart SQL",
      "credentials": {
        "postgres": {
          "id": "We92wHuV6HBo24o9",
          "name": "Data"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lấy tất cả item từ đầu vào\nconst items = $input.all();\n\n// Lấy code Python từ Agent Chart\nconst chartCode = $('Agent Chart Builder').first().json.output.code;\n\n// === XỬ LÝ CSV ===\n\nlet fileDataUri = \"\"; // Đổi tên biến cho rõ ràng\n\n// Chỉ tạo file CSV nếu có dữ liệu\nif (items.length > 0) {\n  \n  // 1. Lấy tiêu đề (columns) từ item đầu tiên\n  const columns = Object.keys(items[0].json);\n\n  // 2. Lấy dữ liệu (rows)\n  const rows = items.map(item => {\n    return columns.map(colName => item.json[colName]);\n  });\n\n  // 3. Tạo chuỗi CSV\n  const csvString = [columns] // Nối tiêu đề\n    .concat(rows)             // Nối các dòng dữ liệu\n    .map(r => r.map(v => `\"${String(v ?? '').replace(/\"/g, '\"\"')}\"`).join(','))\n    .join('\\n');\n  \n  // 4. Chuyển sang Base64\n  const base64Data = Buffer.from(csvString, \"utf8\").toString(\"base64\");\n\n  // 5. SỬA LỖI CHUẨN: Thêm tiền tố (prefix) Data URI\n  fileDataUri = `data:text/csv;base64,${base64Data}`;\n\n} else {\n  console.log(\"Không có dữ liệu đầu vào để tạo file CSV.\");\n  fileDataUri = \"data:text/csv;base64,\"; // Trả về file rỗng\n}\n\n// === TRẢ VỀ KẾT QUẢ ===\n\nreturn [{\n  json: {\n    chart: {\n      code: chartCode,\n      file: {\n        filename: `filename_${$now.toFormat('yyyyMMdd_HHmmss')}.csv`,\n        data: fileDataUri // Trả về file Data URI chuẩn\n      }\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3424,
        -896
      ],
      "id": "5bc7b392-1896-4a39-a57c-d16ceac79aff",
      "name": "JS Chart Package"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"https://json-schema.org/draft/2020-12/schema\",\n  \"title\": \"TextObject\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"text\": {\n      \"type\": \"string\",\n      \"description\": \"Một chuỗi văn bản markdown.\"\n    }\n  },\n  \"required\": [\"text\"],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -4016,
        -1264
      ],
      "id": "3dfb05e6-958f-4ed8-bb4c-648ad1419af6",
      "name": "Parser Text Markdown"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2224,
        -688
      ],
      "id": "442214ee-fa29-444d-b12d-30668db22023",
      "name": "Webhook Response"
    },
    {
      "parameters": {
        "jsCode": "// 1. Lấy item đầu vào (thường là từ node Merge)\n// Chúng ta dùng .first() vì (Merge/Summarize) thường gộp thành 1 item\nconst inputItem = $input.first();\n\n// 2. Trích xuất dữ liệu một cách an toàn\n// (Thêm || '...' để chống lỗi 'undefined' nếu một nhánh không trả về gì)\nconst textData = inputItem.json.data[0]?.output?.text || \"Không có dữ liệu text\"; \nconst chartData = inputItem.json.data[1]?.chart || {};\nconst tableData = inputItem.json.data[2]?.table ||  inputItem.json.data[1]?.table || {} \n\n// 3. Xây dựng đối tượng JSON mới\nconst newJsonOutput = {\n  type_message: [\"text\", \"chart\", \"table\"],\n  text: textData,\n  chart: chartData,\n  table: tableData,\n};\n\n// 4. SỬA LỖI CHUẨN:\n// Trả về một MẢNG (Array) chứa MỘT đối tượng (item) mới.\nreturn [\n  {\n    json: newJsonOutput\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2528,
        -688
      ],
      "id": "31c0cb46-9145-4a69-b4d1-07dc78103a92",
      "name": "JS Response Payload"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -4176,
        -288
      ],
      "id": "633f4ea2-84b8-451e-81a0-ef647cad091d",
      "name": "LLM Test SQL Chart",
      "credentials": {
        "deepSeekApi": {
          "id": "ZMFdLOEKgqZNPOq6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Plan: {{ $('JS Table Context').item.json.plan.table_plan }}\nSchema: {{ $('JS Table Context').item.json.schema }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Bạn là SQL Writer Agent. Nhiệm vụ: Viết SQL hoàn chỉnh cho table.\n\nTOOLS:\n- [Tool Test SQL Table]: Kiểm thử logic phức tạp (JOIN, sub-query, window function). KHÔNG cần gọi nếu đơn giản (COUNT(*) FROM single_table).\n\nQUY TRÌNH:\n1. Đọc Plan để biết Metrics, Dimensions, Filters, LIMIT\n2. Nếu Plan có JOIN/SUB-QUERY phức tạp → Gọi Tool Test SQL Table để validate\n3. Viết SQL cuối cùng:\n   - Ưu tiên aggregate functions\n   - BẮT BUỘC alias mọi cột tính toán: SELECT SUM(profit) AS total_profit\n   - Giữ đúng LIMIT trong Plan (KHÔNG tự thêm LIMIT 5)\n   - Forbidden: INSERT, UPDATE, DELETE, DROP\n\nOUTPUT: JSON {\"sql\":\"SELECT ...\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -4272,
        -288
      ],
      "id": "034d15e2-1cb9-4de4-bed6-fac9c88a0aa1",
      "name": "Agent Table Builder"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Plan: {{ $('JS Chart Context').item.json.plan.chart_plan }}\nSchema: {{ $('JS Chart Context').item.json.schema }}\nRequest: {{ $json.user_input }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "===BẠN LÀ AGENT VẼ BIỂU ĐỒ.\n\nCHỈ TRẢ VỀ JSON. KHÔNG GIẢI THÍCH.\nĐỊNH DẠNG: { \"sql\": \"<SQL hoàn chỉnh, không LIMIT>\", \"code\": \"<code Python theo quy tắc>\" }\n\n---\n### QUY TRÌNH\n\n1.  Đọc `PLAN`, `SCHEMA`.\n2.  DÙNG `[TEST_SQL_AGENT]` để kiểm thử logic (JOIN, logic phức tạp).\n3.  Viết SQL HOÀN CHỈNH (không LIMIT 5, BẮT BUỘC dùng alias, ví dụ: `SUM(c) AS total_c`).\n4.  Viết code Python (dùng `df`) tuân thủ 100% `QUY TẮC CODE PYTHON` bên dưới.\n5.  **Nếu `PLAN` yêu cầu nhiều biểu đồ (ví dụ: \"biểu đồ tròn VÀ biểu đồ cột\"), hãy tạo nhiều figure và gán tất cả vào list `figs` (xem RULE 0).**\n\n---\n### QUY TẮC CODE PYTHON (TUÂN THỦ TUYỆT ĐỐI ĐỂ TRÁNH LỖI)\n\n**RULE 0: CẤM TUYỆT ĐỐI**\n* KHÔNG dùng `return`.\n* KHÔNG dùng `plt.show()`, `plt.savefig()`, `st.*` (Streamlit), `display()`.\n* **Tất cả các biểu đồ (figure) cuối cùng phải được chứa trong một biến list tên là `figs`.** (Ví dụ: `figs = [fig1, fig2]`).\n\n**RULE 1: Imports**\n* Tất cả `import` PHẢI được viết BÊN TRONG chuỗi code.\n* Bắt buộc: `import pandas as pd`, `import matplotlib.pyplot as plt`, `from pathlib import Path`.\n* Nếu cần: `import matplotlib.ticker as mtick`.\n\n**RULE 2: Đọc Dữ liệu (BẮT BUỘC)**\n* Code phải bắt đầu bằng khối kiểm tra file này (KHÔNG SỬA ĐỔI):\n    ```python\n    if \"chart_file_path\" not in globals():\n        raise NameError(\"Biến 'chart_file_path' là bắt buộc.\")\n    path = Path(chart_file_path)\n    if not path.exists():\n        raise FileNotFoundError(f\"Không tìm thấy file dữ liệu tại: {chart_file_path}\")\n    \n    # Giả định file là CSV\n    try:\n        df = pd.read_csv(path)\n    except Exception as e:\n        raise ValueError(f\"Lỗi khi đọc file CSV: {e}\")\n    \n    # Khởi tạo list figs (BẮT BUỘC)\n    figs = []\n\n    # Bắt buộc kiểm tra df rỗng\n    if df.empty:\n        fig_empty, ax = plt.subplots()\n        ax.text(0.5, 0.5, 'Không có dữ liệu để hiển thị', horizontalalignment='center', verticalalignment='center', transform=ax.transAxes)\n        figs.append(fig_empty) # Thêm vào list\n    else:\n        # Đặt code xử lý và vẽ biểu đồ của bạn BÊN TRONG khối else này\n    ```\n\n**RULE 3: Xử lý Dữ liệu (Bên trong `else`)**\n* Sau khi đọc `df`, bạn PHẢI kiểm tra và ép kiểu các cột cần thiết.\n* Ví dụ: `df['date_column'] = pd.to_datetime(df['date_column'])`, `df['numeric_column'] = pd.to_numeric(df['numeric_column'])`.\n* Xử lý giá trị `NaN` nếu cần thiết (`.fillna(0)` hoặc `dropna()`).\n* Các cột bạn dùng (ví dụ: `df['total_revenue']`) PHẢI KHỚP với tên cột (alias) trong câu SQL bạn đã viết.\n\n**RULE 4: Vẽ Biểu Đồ (Bên trong `else`)**\n* **Với mỗi biểu đồ bạn tạo:**\n* Tạo figure và axes: `fig, ax = plt.subplots(figsize=(10, 6))`.\n* Thêm tiêu đề, nhãn trục rõ ràng.\n* Dùng `plt.tight_layout()`.\n* **Cuối cùng, BẮT BUỘC `append` figure đó vào list `figs`.**\n* Ví dụ: \n    `fig1, ax1 = plt.subplots(); ax1.plot(df['col1']); figs.append(fig1)`\n    `fig2, ax2 = plt.subplots(); ax2.bar(df['col2']); figs.append(fig2)`"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -4272,
        -896
      ],
      "id": "150c548f-ec5c-4192-8b35-7e9f2ad8078d",
      "name": "Agent Chart Builder"
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -3712,
        -1120
      ],
      "id": "ed936c8d-35d0-421f-a471-2e8234e0e89d",
      "name": "Tool Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "RttnGPsjLKJtO7zH",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -5664,
        -624
      ],
      "id": "f6b7d532-1fdf-4f49-a2e1-c26d0574d77d",
      "name": "LLM Output Classifier1",
      "credentials": {
        "deepSeekApi": {
          "id": "ZMFdLOEKgqZNPOq6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -4144,
        -1088
      ],
      "id": "0fa117ca-f2dd-4665-a8c1-f991ab9e1860",
      "name": "LLM Output Classifier2",
      "credentials": {
        "deepSeekApi": {
          "id": "ZMFdLOEKgqZNPOq6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -3792,
        -432
      ],
      "id": "8b5eaa62-0ac1-4039-80a7-02c2db5e56ad",
      "name": "LLM Output Classifier3",
      "credentials": {
        "deepSeekApi": {
          "id": "ZMFdLOEKgqZNPOq6",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -4048,
        -48
      ],
      "id": "67ff4366-4e08-4460-bf4f-1c7f2753e53c",
      "name": "LLM Output Classifier4",
      "credentials": {
        "deepSeekApi": {
          "id": "ZMFdLOEKgqZNPOq6",
          "name": "DeepSeek account"
        }
      }
    }
  ],
  "connections": {
    "PG Schema Loader": {
      "main": [
        [
          {
            "node": "JS Schema Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS Schema Markdown": {
      "main": [
        [
          {
            "node": "Agent Output Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Intake": {
      "main": [
        [
          {
            "node": "PG Schema Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Output Classifier": {
      "main": [
        [
          {
            "node": "Agent Output Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Type Array": {
      "ai_outputParser": [
        [
          {
            "node": "Agent Output Classifier",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Planner Scratchpad": {
      "ai_tool": [
        [
          {
            "node": "Agent Output Planner",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parser Plan JSON": {
      "ai_outputParser": [
        [
          {
            "node": "Agent Output Planner",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Agent Output Planner": {
      "main": [
        [
          {
            "node": "JS Plan Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mixedbread": {
      "ai_embedding": [
        [
          {
            "node": "Tool Metric Lookup",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Tool Metric Lookup": {
      "ai_tool": [
        [
          {
            "node": "Agent Output Planner",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "JS Plan Filter": {
      "main": [
        [
          {
            "node": "Switch Output Types",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool SQL Text": {
      "ai_tool": [
        [
          {
            "node": "Agent Text Response",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent Text Response": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Text Analyst": {
      "ai_languageModel": [
        []
      ]
    },
    "Tool SQL Table": {
      "ai_tool": [
        [
          {
            "node": "Tool Test SQL Table",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool Test SQL Table": {
      "ai_tool": [
        [
          {
            "node": "Agent Table Builder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parser Final SQL": {
      "ai_outputParser": [
        [
          {
            "node": "Agent Table Builder",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge Outputs": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "JS Response Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Output Types": {
      "main": [
        [
          {
            "node": "JS Text Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JS Chart Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "JS Table Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS Text Context": {
      "main": [
        [
          {
            "node": "Agent Text Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS Table Context": {
      "main": [
        [
          {
            "node": "Agent Table Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG Execute Table SQL": {
      "main": [
        [
          {
            "node": "JS Table Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS Table Formatter": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "JS Chart Context": {
      "main": [
        [
          {
            "node": "Agent Chart Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser Chart Output": {
      "ai_outputParser": [
        [
          {
            "node": "Agent Chart Builder",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Tool Test SQL Chart": {
      "ai_tool": [
        [
          {
            "node": "Agent Chart Builder",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool SQL Chart": {
      "ai_tool": [
        [
          {
            "node": "Tool Test SQL Chart",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Output Classifier": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Output Classifier",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Parser Type Array",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PG Execute Chart SQL": {
      "main": [
        [
          {
            "node": "JS Chart Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JS Chart Package": {
      "main": [
        [
          {
            "node": "Merge Outputs",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parser Text Markdown": {
      "ai_outputParser": [
        [
          {
            "node": "Agent Text Response",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "JS Response Payload": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Test SQL Chart": {
      "ai_languageModel": [
        [
          {
            "node": "Tool Test SQL Chart",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Agent Table Builder": {
      "main": [
        [
          {
            "node": "PG Execute Table SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Chart Builder": {
      "main": [
        [
          {
            "node": "PG Execute Chart SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tool Tavily": {
      "ai_tool": [
        [
          {
            "node": "Agent Text Response",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LLM Output Classifier1": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Output Planner",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Parser Plan JSON",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM Output Classifier2": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Text Response",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Parser Text Markdown",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM Output Classifier3": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Chart Builder",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Parser Chart Output",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "LLM Output Classifier4": {
      "ai_languageModel": [
        [
          {
            "node": "Tool Test SQL Table",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Agent Table Builder",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Parser Final SQL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4ab2962d7056cbe8bc8d7bffb15c50a0d6270ddabb3874584b7c9ceb1bd4506c"
  }
}